html{
  background-color:#151515;
}

.content{
    position: absolute;
    top:20px;
    right:20px;
    pointer-events:none;
    color: white;
    font-family: 'Roboto', sans-serif;
    overflow:auto;
    line-height:1.5em;
}

.workContent{
    width:50%;
}

.lifeContent{
    width:50%
}

.content a {
    pointer-events:auto;
}
.content input{
    pointer-events:auto;
}
.content select{
    pointer-events:auto;
}

a:link{color:white; text-decoration:underline}
a:visited{color:white; text-decoration:underline}
a:hover{color:white; text-decoration:underline}
a:active{color:white; text-decoration:underline}

.text{cursor:default;}

.name{
    color:#FF8C00;
}

@font-face {
    font-family: Wendy;
    src: url(wendy.ttf);
}

.nav{
    display: inline-block;
    font-family: Wendy;
    cursor:pointer;
}

body{
    color:white;
}
.inactive{
    color:#353535;
}


table{
    border-collapse: collapse;
    border-spacing: 0;
}

.aliveDrawer{
    background-color: #353535;
}
