<!DOCTYPE html>
<html ng-app="ratanrsur" >
<head>
    <title>Ratan Rai Sur</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="bower_components/angular.js"></script>
<!--     <script src="bower_components/jquery/src/jquery.js"></script> -->
    <script src="js/controllers.js"></script>
</head>
<body>
    <table ng-controller="tableCtrl">
        <tr ng-repeat="i in getNumber(vertDivs) track by $index">
            <td ng-class="{alive: isAlive[1-gridIndex][$parent.$index][$index]}"
                ng-mouseenter="isAlive[1-gridIndex][$parent.$index][$index] = true"
                ng-style="{ 'width' : cellSide+'px','height' : cellSide+'px' }"
                ng-repeat="i in getNumber(horizDivs) track by $index">
            </td>
        </tr>
    </table>
    <div class="name"
         ng-style="{ 'font-size' : +'px' }">
        Ratan Rai Sur
    </div>
</body>
</html>
