html{
  background-color:#151515;
}

.content{
    position: absolute;
    top:20px;
    right:20px;
    width:auto;
    pointer-events:none;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.content a {
    pointer-events:auto;
}

a:link{color:white; text-decoration:underline}
a:visited{color:white; text-decoration:underline}
a:hover{color:white; text-decoration:underline}
a:active{color:white; text-decoration:underline}

.text{cursor:default;}

.alive{
  background-color: #FF8C00;
}
.name{
    color:#FF8C00;
}
.nav{
    display: inline-block;
    font-family: Wendy;
    cursor:pointer;
}
.active{
    color:white;
}
.inactive{
    color:#353535;
}
@font-face {
    font-family: Wendy;
    src: wendy.ttf
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

.aliveDrawer{
    background-color: #353535;
}
