<!DOCTYPE html>
<html ng-app="ratanrsur" ng-controller="lifeTable">
<head>
    <title>Ratan Rai Sur</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="bower_components/angular.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <script src="js/lifeTable.js"></script>
<!--     <script src="js/drawers.js"></script> -->
</head>
<body>
    <table>
        <tr ng-repeat="i in getNumber(vertDivs) track by $index">
            <td ng-class="{alive: (!drawerOpen && isAlive[1-gridIndex][$parent.$index][$index]), aliveDrawer:(drawerOpen && isAlive[1-gridIndex][$parent.$index][$index])}"
                ng-mouseenter="isAlive[1-gridIndex][$parent.$index][$index] = true"
                ng-style="{ 'width' : cellSide+'px','height' : cellSide+'px' }"
                ng-repeat="i in getNumber(horizDivs) track by $index">
            </td>
        </tr>
    </table>
    <div class="nav"
         ng-click="activeItem[0]=true;clickIndex=0;"
         ng-class="{active: activeItem[0], name:!drawerOpen, inactive:!activeItem[0]&&drawerOpen}"
         ng-style="{ 'font-size' : (getHeight()-cellSide*vertDivs)*.5+'px' }">
         {{menuItem[0]}}
    </div>

    <div class="nav"
         ng-repeat="i in [0,1] track by $index"
         ng-click="activeItem[$index+1]=true ; $parent.clickIndex=$index+1"
         ng-class="{active: activeItem[$index+1], inactive:!activeItem[$index+1]}"
         ng-style="{ 'font-size' : (getHeight()-cellSide*vertDivs)*.5+'px' }">
        {{menuItem[$index+1]}}
    </div>
    <div class="content workContent"
         ng-show="activeItem[1]">
    </div>
    <div class="content lifeContent"
         ng-show="activeItem[2]">
        He's a Civil Engineering student at The Cooper Union in his homecity, New York. In his free time he enjoys<br>
        <ul>
            <li> playing <a target ="_blank" href="http://en.wikipedia.org/wiki/King%27s_Gambit">1. e4 e5 2. f4</a> in Marcus Garvey Park in Harlem
            <li>
            <li> <a target="_blank" href="ChrisHadfield.jpg">meeting astronauts while dressed as an astronaut</a>
        </ul>
    </div>
</body>
</html>
