@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --foreground-rgb: 239, 239, 239;
      --background-rgb: 15, 15, 15;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  font-size: 20px;
}

.normal-text {
  color: rgb(220,220,220);
  display: block;
  max-height: 100%;
  max-width: 600px;
  overflow: auto;
  font-family: serif;
}

.betting-state {
  width: fit-content;
  color: gray;
  font-size: 22px;
}

p {
  background-color: rgb(var(--background-rgb));
  width: fit-content;
    max-width: 100%;
}

a {
  text-decoration: underline;
  text-decoration-style: dotted;
}

input {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  width: 54px;
}

button {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}