@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  font-size: 18px;
}

.normal-text {
  color: rgb(220,220,220);
  display: block;
  max-height: 100%;
  max-width: 600px;
  overflow: auto;
  font-family: serif;
}

.betting-state {
  display: inline-block;
  color: gray;
  font-size: 22px;
}

p {
  background-color: rgb(var(--background-rgb));
  display: inline-block;
}

a {
  text-decoration: underline;
}

input {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  width: 54px;
}

button {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}